page-words-list {
  .toolbar-title-ios{
    font-size: 2.5rem;
  }
  .toolbar-background-ios {
    background: #2eb8b9;
  }
  .item-ios{
    background-color: #2eb8b9;
  }
  .content-ios {
    background-color: #2eb8b9;
  }
  .list-ios > .item-block{
    border-top: 0;
  }
  .list-ios .item-block .item-inner{
    border-bottom: 0;
  }
  ion-header ion-icon {
    color: #fafdfd;
    font-size: 2em;
    margin-left: 5px;
  }
  ion-header .toolbar-title-ios{
    color: #ffffff;
  }
  img{
    width: 80%;
    height: 80%;
    display: block;
    margin: auto;
    border: 5px solid #fff;
    border-radius:60%;
  }
  ion-list span{
    font-size: 3rem;
    display: block;
    margin: 8px 0 0;
  }
  .item-ios {
    width: 50%;
    padding-top: 40px;
    padding-left: 0;
    color: #fff;
    text-align: center;
  }
  .item-ios.item-block .item-inner{
    padding-right: 0;
  }
  .label-ios{
    margin: 0;
    height: 100%;
  }
  .list-ios {
    margin: -1px 0 32px;
    display: flex;
    flex-flow: row wrap;
  }
  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
    border-bottom: none;
  }
}
