page-look-pic-recog-word {
  .toolbar-title-ios{
    font-size: 2rem;
  }
  .toolbar-background-ios {
    background: #2eb8b9;
  }
  .item-ios{
    background-color: #2eb8b9;
  }
  .content-ios {
    background-color: #2eb8b9;
  }
  ion-header .toolbar-title-ios{
    color: #ffffff;
  }

  #details{
    width: 80%;
    height: 60px;
    background-color: #fafdfd;
    margin: 20px auto 10px;
    border-radius: 5px;
    padding: 5px 25px;
  }
  #schedule{
    color: #222;
    line-height: 30px;
    margin-right: 60px;
  }
  #overtime{
    float: right;
    color: #f00;
    line-height: 30px;
  }
  #score{
    color: #222;
    line-height: 20px;
    margin-right: 60px;
  }
  #pic{
    width: 250px;
    height:250px;
    margin: auto;
  }
  #pic img{
    border: 5px solid#2eb8b9;
    border-radius:10px;
  }
  .option{
    border-radius: 5px;
    width: 75%;
    height: 9%;
    margin: 10px 45px 5px 45px;
    background-color: #222;
    text-align: center;
    color: #fff;
    font-size: 4rem;
    float: left;
  }
  #sub{
    width: 50%;
    height: 50px;
    background-color: #000;
    border-radius: 50px;
    margin: 20px auto;
    color: #fff;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
  }
  #test{
    width: 80%;
    height: 75%;
    background-color: #fff;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 2%;
  }
  #end{
    color: #f00;
    float: right;
  }
  .label-ios{
    margin: 0;
  }
  .item-ios{
    padding-left: 0;
  }
  .item-ios.item-block .item-inner{
    padding-right: 0;
  }
  .list-ios{
    padding: 0 12px;
  }
  .resultImg{
    display: inline-block;
    width: 90px;
    height: 90px;
  }
  .resultText{
    float: right;
    width: 70%;
  }
  .resultText{
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
  }
  .resultText span{
    line-height: 30px;
    font-size: 2rem;
  }
  #result{
    overflow-y: scroll;
    max-height: 90%;
  }
}
