page-home {
  .toolbar-title-ios{
    font-size: 2rem;
  }
  .toolbar-background-ios {
    background: #999;
  }
  ion-header ion-icon {
    color: blue;
    font-size: 2em;
    margin-left: 5px;
  }
  ion-header .toolbar-title-ios{
    color: #ffffff;
  }
  img{
    width: 150px;
    height: 150px;
  }
  ion-content .item-ios {
    width: 50%;
    float: left;
    background-color: #999;
    padding-top: 20px;
  }
  ion-content ion-label img{
    border: 5px solid #fff;
  }
  ion-content ion-label span{
    display: block;
    text-align: center;
    color: #fff;
  }
  ion-content .item-ios{
    padding-left: 30px;
  }
}
