page-exam {
  .toolbar-background-ios{
    background:#2eb8b9;
  }
  .toolbar-title-ios{
    color:white;
  }
  .content-ios{
    background:#2eb8b9;
  }
  ion-header ion-icon{
    font-size:2.5em;
    color:#fafdfd;
  }
  .toolbar-title-ios{
    font-size: 2.5rem;
  }
  //.scroll-content{
  //
  //}
  //ion-app.ios{
  //  padding:30px;
  //}
  button{
    display: block;
    background-color: #222;
    line-height:3;
    font-size: 20px;
    color:white;
    border-radius:10px;
    margin: 40px auto;
    padding: 0px 100px;
    font-family: myFirstFont;

  }
}
