page-word {
  //#back{
  //  font-size: 40px;
  //  position: absolute;
  //  top: 3px;
  //  left: 10px;
  //  color: blue;
  //}
  //.back-button.show-back-button {
  //  display: none;
  //}
  .toolbar-title-ios{
    font-size: 2rem;
  }
  .toolbar-background-ios {
    background: #999;
  }
  ion-header .toolbar-title-ios{
    color: #ffffff;
  }
  ion-content img{
    display: block;
    margin: 10% auto 10%;
    width: 65%;
    border: 8px solid #fff;
  }
  #icon1 {
    display: inline-block;
    font-size: 3em;
    position: absolute;
    top: 25%;
    left: 5%;
    color: #427feb;
  }
  #icon2 {
    display: inline-block;
    font-size: 3em;
    position: absolute;
    top: 25%;
    color: #427feb;
    right: 5%;
  }

  .content-ios {
    background-color: #999;
  }

  #englishWord{
    width: 65%;
    background-color: #204b6b;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
    color: #fff;
  }
  #soundmark{
    width: 65%;
    background-color: #204b6b;
    border-radius: 10px;
    margin: 50px auto;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
    color: #fff;
  }

  #ic-div{
    width: 65%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .iicon{
    font-size: 6rem;
    color: #427feb;
  }
}
