page-setting {
  .toolbar-title-ios{
    color:white;
    font-size: 2.5rem;
  }
  .toolbar-background-ios{
    background-color: #2eb8b9;
  }
  .content-ios{
    background-color: #2eb8b9;
  }
  //ion-icon:nth-child(1){
  //  font-size: 2em;
  //  color:#427feb;
  //}
  .list-ios{
    margin:20px 0 32px;
  }

  .arrow{
    color:gainsboro;
  }
  .label-ios{
    padding-top: 5px;

  }
  //page-setting ion-icon:nth-child(1){
  //  color:#403c3c !important;
  //}
  page-setting .arrow{
    color:#2eb8b9;
  }
}
