page-look-word-recog-pic {
  .toolbar-title-ios{
    font-size: 2rem;
  }
  .toolbar-background-ios {
    background: #2eb8b9;
  }
  .item-ios{
    background-color: #2eb8b9;
  }
  .content-ios {
    background-color: #2eb8b9;
  }
  ion-header .toolbar-title-ios{
    color: #ffffff;
  }

  #details{
    width: 90%;
    height: 60px;
    background-color: #fafdfd;
    margin: 20px auto 10px;
    border-radius: 5px;
    padding: 5px 25px;
  }
  #schedule{
    display: inline-block;
    width: 30%;
    color: #222;
    line-height: 30px;
  }
  #schedule1{
    display: inline-block;
    width: 30%;
    color: #222;
    line-height: 20px;
  }
  #overtime{
    display: inline-block;
    width: 30%;
    text-align: right;
    float: right;
    line-height: 30px;
  }
  #overtime1{
    display: inline-block;
    width: 30%;
    text-align: right;
    float: right;
    color: #f00;
    line-height: 20px;
  }
  #overtime2{
    display: inline-block;
    width: 30%;
    text-align: right;
    float: right;
    color: #f00;
    line-height: 20px;
  }
  #score{
    display: inline-block;
    width: 30%;
    text-align: center;
    color: #222;
    line-height: 30px;
  }
  #score1{
    display: inline-block;
    width: 30%;
    text-align: center;
    color: #222;
    line-height: 20px;
  }
  #end{
    color: #f00;
    float: right;
  }

  #option{
    margin: auto;
    width: 300px;
    display: flex;
    flex-flow: row wrap;
  }
  img {
    width: 150px;
    height: 150px;
    display: block;
    border: 5px solid #fff;
    border-radius:10px;
  }
  #question{
    width: 300px;
    height: 70px;
    color: #fff;
    line-height: 70px;
    font-size: 55px;
    margin: 10px auto 10px;
    text-align: center;
  }
  #sub{
    width: 90%;
    height: 50px;
    background-color: #000;
    border-radius: 8px;
    margin: 20px auto;
    color: #fff;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
  }

  .trueAnswer,.yourAnswer{
    width: 150px;
    height: 170px;
    display: inline-block;
  }

  .answer{
    width: 305px;
    margin: auto;
    background-color: #fff;
  }
  .answer span{
    line-height: 20px;
    text-align: center;
    width: 150px;
    height: 20px;
    display: block;
    font-size: 1em;
  }
  #result{
    overflow-y: scroll;
    max-height: 82%;
  }
  .scroll-content{
    overflow-y: hidden;
  }
}
